*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-flow: column nowrap;
    background-image:url("../media/bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    align-items: center;
    height: 100vh;
    padding:0;
}

header{
    width:191.75vh;
    margin-top:-9px;
}

header nav{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:16px;
    background-image: url("../media/Layer 1.png");
    background-size:555px;
}

header nav ul{
    display:flex;
    flex-flow: row nowrap;
    list-style-type: none;
    gap:100px;
}

nav ul a{
    text-decoration: none;
    color:white;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size:40px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px black,
    0px 3px 1px black;
    background-color: #1d476d;
    padding:10px 30px;
    border-radius: 20px;
}

nav ul a:hover{
    background-color:#fbc742;
    box-shadow: 0px 0px 15px #ffedda;
    border:3px solid #ffedda;
}
.container{
    margin-top:70px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    padding: 10px;
}

.container .item{
    background-color: white;
    border:7px solid black;
    box-shadow:0px 7px 0px black;
    border-radius: 55px;
    padding:30px 80px;
    font-size:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
}



