*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-flow: column nowrap;
    background-image:url("../media/bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    align-items: center;
    height: 100vh;
    padding:0;
}

header{
    width:191.75vh;
    margin-top:-9px;
}

header nav{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:16px;
    background-color:white;
    border-bottom:5px solid black;
}

header nav ul{
    display:flex;
    flex-flow: row nowrap;
    list-style-type: none;
    gap:100px;
}

nav ul a{
    text-decoration: none;
    color:white;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size:40px;
    letter-spacing: 1px;
    text-shadow: 0px 3px 1px black,
    0px 4px 1px black;
    background-color: black;
    padding:10px 20px;
    border-radius: 20px;
    margin-top:5px;
    box-shadow: 0px 0px 3px white inset ,0px 0px 2px black inset;
}

nav ul a:hover{
    background-color:#135f9a;
    box-shadow: 0px 3px 8px black;

    margin:-7px;
}
.userpro{
    display:flex;
    flex-flow:row nowrap;
    margin-left:150px;
    flex:1;
}
nav .userpro a{
    padding:10px;
    background-color:white;
    font-size:15px;
    margin-left:50px;
    text-decoration: none;
    color:black;
    font-family: 'Righteous', cursive;
    border-radius:10px;
}
.container {
    margin-top: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 70px;
    padding: 10px;
}

.container .item {
    background-color: white;
    border: 7px solid black;
    box-shadow: 0px 7px 0px black;
    border-radius: 55px;
    padding: 30px 45px;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    position: relative;
}

.container .item .icon {
    position: absolute;
    top: -8px;
    right: 1px;
    cursor: pointer;
}

.container .item h5 {
    margin: -10px 15px 0px 0px;
    text-align:center;
}

.container .item p{
    font-size:15px;
}





